fastapi==0.115.0
uvicorn==0.30.6
gunicorn==22.0.0
SQLAlchemy==2.0.35
alembic==1.13.2
psycopg2-binary==2.9.9
passlib[bcrypt]==1.7.4
PyJWT==2.9.0
pydantic==2.9.2
pydantic-settings==2.6.1
boto3==1.35.24
celery==5.4.0
redis==5.0.7
requests==2.32.3
Jinja2==3.1.4
WeasyPrint==62.3
typer==0.12.5
platformdirs==4.3.6
email-validator==2.2.0
python-multipart==0.0.9
